<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">epul</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ergosum</property>
        <property name="hibernate.connection.username">userepul</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="hibernate/metier/Comporte.hbm.xml" />
        <mapping resource="hibernate/metier/Jouet.hbm.xml" />
        <mapping resource="hibernate/metier/Categorie.hbm.xml" />
        <mapping resource="hibernate/metier/Catalogue.hbm.xml" />
        <mapping resource="hibernate/metier/Trancheage.hbm.xml" />
    </session-factory>
</hibernate-configuration>
